# Dependencies
node_modules/
.pnp
.pnp.*

# Build outputs
dist/
build/
.next/
out/
coverage/

# Environments
.env
.env.local
.env.*.local

# Misc
.DS_Store
*.log
*.tsbuildinfo
next-env.d.ts

# Editors
.vscode/
.idea/
